/* 
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  } */
  .login-container {
    text-align: center;
    max-width: 400px;
    margin: 100px auto;
    background: rgb(225, 231, 227);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
  input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  button {
    /* width: 50%; */
    padding: 10px;
    margin-top: 10px;
  }
  .error {
    color: red;
  }

  #admin-wrapper {
    display: flex;
    min-height: 100vh;
  }
  
  #sidebar {
    /* width: 250px; */
    transition: all 0.3s;
  }
  
  