<!-- <footer>
    <p>Admin Panel &copy; <%= new Date().getFullYear() %></p>
  </footer>
   -->

   <footer class="mt-auto py-3 border-top text-center">
          <p class="mb-0 text-muted">
            Admin Panel &copy; <%= new Date().getFullYear() %>
          </p>
  </footer>
  
  <style>
    footer {
      font-size: 1.2rem;
    }
  </style>