
<%- include('../partials/heroSection', { heroSlides }) %>
<%- include('../partials/socialIcons',{ socialIcons: socialIcons || [] }) %>

<div class="container mt-1">
  <h1 class="text-center mb-4">Welcome to Dharti International Foundation</h1>
</div>
<%- include('donate.ejs') %>
<%- include('../partials/missionVision', { missionVisionItems : missionVisionItems || [] }) %>