<!DOCTYPE html>
<html>
<head>
  <title>Forget Admin Password</title>
  <!-- <link rel="stylesheet" href="/admin/admin.css"> -->
</head>
<body>
  <div class="login-container">
    <h2>Enter your email</h2>
    <% if (error) { %><p class="error"><%= error %></p><% } %>
    <form method="POST" action="/admin/forget-password">
      <input type="email" name="email" placeholder="Email" required />
      <button type="submit">Get OTP</button>
    </form>
    <lu>
        <a class="button" href="/admin/login">Login
        </a>
      </lu>
  </div>
</body>
</html>
